@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "../../styles/fonts";
@import "../../styles/utils/selected";
@import "../../styles/utils/hide-card";
@import "../../styles/utils/show-animation";
@import "../../styles/utils/intro-animations";
@import "../../styles/utils/bg-split";
@import "../../styles/utils/bg-upside-gradient";
@import "../../styles/components/buttons";
@import "../../styles/components/shine";
@import "../../styles/section-spacing";
@import "../../styles/utils/reveal-on-scroll";
@import "../../styles/components/swiper-custom";

:root {
  /* Global colors */
  --color-blue: theme(colors.blue.DEFAULT);
  --color-pink: theme(colors.pink.DEFAULT);
  --color-primary: theme(colors.primary.DEFAULT);
  --color-secondary: theme(colors.secondary);
  --color-white: theme(colors.white);
  --color-black: theme(colors.black);
  --upside-logo-color: theme(colors.blue.DEFAULT);
}

html {
  @apply text-black;

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

html {
  scroll-behavior: smooth;
}